<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>PartKeepr</title>

    <base href="{{ app.request.getBaseURL() }}/"/>

    {% set themes = {"classic": "Classic", "crisp":"Crisp", "crisp-touch": "Crisp Touch", "gray":"Gray", "neptune": "Neptune", "neptune-touch": "Neptune Touch", "triton": "Triton", "aria": "Aria"} %}
    {% set defaultTheme = "classic" %}

    {% set themeUri %}js/packages/extjs6/build/classic/theme-{{ defaultTheme }}/resources/theme-{{ defaultTheme }}-all.css{% endset %}
    {% set themeUxUri %}js/packages/extjs6/build/packages/ux/classic/{{ defaultTheme }}/resources/ux-all.css{% endset %}

    <link id="theme" rel="stylesheet" href="{{ asset(themeUri) }}"/>
    <link id="themeUx" rel="stylesheet" href="{{ asset(themeUxUri) }}"/>

    <!-- Include the ExtJS CSS Theme -->
    {% stylesheets
        filter='cssrewrite'
        'js/packages/extjs6/build/modern/theme-material/resources/theme-material-all.css'
        'atelierspierrot/famfamfam-silk-sprite/silk-icons-sprite.css'
        'spritesheets/fugue-16.css'
        'spritesheets/partkeepr.css'
        'bundles/partkeeprfrontend/css/PartKeepr.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% image '@PartKeeprFrontendBundle/Resources/public/images/favicon.ico' %}
        <link rel="icon" href="{{ asset_url }}"/>
    {% endimage %}

    {% if debug %}
        {% javascripts output='js/compiled/mobile_extjs.js'
            'js/packages/extjs6/build/ext-modern-all-debug.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts output='js/compiled/mobile_extjs.js'
            'js/packages/extjs6/build/ext-modern-all.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endif %}
    {% javascripts output='js/compiled/mobile_main.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/CallActions.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/field/Array.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraModel.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraField.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraTreeModel.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/store/ModelStore.js'
        '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Bugfixes/Ext.form.field.Checkbox.EXTJS-21886.js'
        '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.view.Table-renderCell.js'
        '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.data.field.Date-ISO8601.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}





    {% javascripts output='js/compiled/mobile_models.js'
        'bundles/doctrinereflection/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts output='js/compiled/mobile_app.js'
        '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.data.Store.getFieldValue.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/i18n.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/store/CurrencyStore.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/ReflectionFieldTreeModel.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/store/OperatorStore.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Blob.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/FileSaver.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Filter.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/LoginManager.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/PreferencePlugin.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/AuthenticationProvider.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/HTTPBasicAuthenticationProvider.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/WSSEAuthenticationProvider.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/store/UserProvidersStore.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/store/UserPreferenceStore.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/isaac.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/bcrypt.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/core.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/x64-core.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/sha512.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/sha1.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/enc-base64.js'
        '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Bugfixes/Ext.data.Model-EXTJS-15037.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/JsonWithAssociationsWriter.js'
        '@PartKeeprMobileFrontendBundle/Resources/public/js/PartKeeprMobile.js'
        '@PartKeeprFrontendBundle/Resources/public/js/compat.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Util/ServiceCall.js'
        '@PartKeeprFrontendBundle/Resources/public/js/org.jerrymouse.util.locale/locale.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraException.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraProxy.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraReader.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraTreeReader.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Actions/BaseAction.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Actions/LogoutAction.js'
        '@PartKeeprFrontendBundle/Resources/public/js/Models/Message.js'
        '@PartKeeprFrontendBundle/Resources/public/js/php.default.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="loader-wrapper">
    <div id="loader-logo"></div>
    <div id="loader"></div>
    <div id="loader-message"></div>
</div>
<script type="text/javascript">
    window.parameters = {{ parameters|json_encode|raw }};
</script>
</body>
</html>
