<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>PartKeepr</title>

    <base href="{{ app.request.getBaseURL() }}"/>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700italic"
          rel="stylesheet" type="text/css">

    <!-- Include the ExtJS CSS Theme -->
    {% stylesheets
    filter='cssrewrite'
    'js/packages/extjs6/build/classic/theme-classic/resources/theme-classic-all.css'
    'js/packages/extjs6/build/packages/ux/classic/classic/resources/ux-all.css'
    'js/packages/extjs6/build/packages/charts/classic/neptune/resources/charts-all.css'
    'atelierspierrot/famfamfam-silk-sprite/silk-icons-sprite.css'
    'spritesheets/fugue-16.css'
    'spritesheets/partkeepr.css'
    'bundles/partkeeprfrontend/css/PartKeepr.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% image '@PartKeeprFrontendBundle/Resources/public/images/favicon.ico' %}
    <link rel="icon" href="{{ asset_url }}"/>
    {% endimage %}

    <script type="javascript">
        var Ext = Ext || {};
        Ext.manifest = { // the same content as "app.json"
            compatibility: {
                ext: '4.2'
            }
        }
    </script>
    {% if debug %}
        {% javascripts output='js/compiled/extjs.js'
        'js/packages/extjs6/build/ext-all-debug.js'
        'js/packages/extjs6/build/packages/ux/classic/ux-debug.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% else %}
        {% javascripts output='js/compiled/extjs.js'
        'js/packages/extjs6/build/ext-all.js'
        'js/packages/extjs6/build/packages/ux/classic/ux.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endif %}
    {% javascripts output='js/compiled/main.js'
    'js/packages/extjs6/build/packages/charts/classic/charts.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/CallActions.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/field/Array.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraModel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraTreeModel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.data.field.Date-ISO8601.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>

    {% endjavascripts %}





    {% javascripts output='js/compiled/models.js'
        'bundles/doctrinereflection/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts output='js/compiled/main2.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/i18n.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Exporter/GridExporter.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Exporter/GridExporterButton.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Blob.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/FileSaver.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/PagingToolbar.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Exporter/Exporter.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Filter.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/LoginManager.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Bugfixes/Ext.grid.feature.Summary-selectorFix.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/AuthenticationProvider.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/HTTPBasicAuthenticationProvider.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/WSSEAuthenticationProvider.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/TipOfTheDayStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/TipOfTheDayHistoryStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/UserProvidersStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Models/ProjectReport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Models/ProjectReportList.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Models/SystemInformationRecord.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Models/StatisticSample.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/isaac.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/bcrypt.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/core.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/x64-core.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/sha512.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/sha1.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/Crypto/enc-base64.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Bugfixes/Ext.data.Model-EXTJS-15037.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/JsonWithAssociationsWriter.js'
    '@PartKeeprFrontendBundle/Resources/public/js/PartKeepr.js'
    '@PartKeeprFrontendBundle/Resources/public/js/compat.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux/NumericField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/TreePicker.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/CurrencyNumberField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/form/field/SearchField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux/ClearableComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Util/ServiceCall.js'
    '@PartKeeprFrontendBundle/Resources/public/js/org.jerrymouse.util.locale/locale.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.grid.plugin.CellEditing-associationSupport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.grid.plugin.Editing-associationSupport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.form.field.ComboBox-associationSupport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraException.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Dialogs/ExceptionWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Dialogs/FileUploadDialog.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Dialogs/RememberChoiceMessageBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraProxy.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraReader.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/HydraTreeReader.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/PartCategoryStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/FootprintCategoryStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/StorageLocationCategoryStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/UserPreferenceStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.tree.View-missingMethods.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.form.Basic-AssociationSupport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/ExtJS/Enhancements/Ext.ux.TreePicker-setValueWithObject.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Actions/BaseAction.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Actions/LogoutAction.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Statusbar.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Auth/LoginDialog.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartImageDisplay.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartsManager.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartEditorWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartDisplay.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartStockWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartFilterPanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/MenuBar.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Grid/BaseGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartParameterGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartDistributorGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartManufacturerGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StockReport/AbstractStockHistoryGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartStockHistory.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StockReport/StockHistoryGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/UserPreferenceGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/AttachmentGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartAttachmentGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintAttachmentGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectAttachmentGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Editor/EditorGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Distributor/DistributorGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartsGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Manufacturer/ManufacturerGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/PartMeasurementUnit/PartMeasurementUnitGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Unit/UnitGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/UserGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/SystemNotice/SystemNoticeGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/MessageLog.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectPartGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/SystemInformation/SystemInformationGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Grid/GridMenuPlugin.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/TimeDisplay.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Menu.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/UrlTextField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/Preferences/DisplayPreferencesPanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/Preferences/UserPasswordChangePanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/Preferences/StockPreferences.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/Preferences/FormattingPreferences.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/Preferences/TipOfTheDayPreferences.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/UserPreferences.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/RemotePartComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/FadingButton.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/SystemNoticeButton.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/ConnectionButton.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/SiUnitList.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/SiUnitField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/CategoryComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/PartParameterComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/RemoteImageField.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/WebcamPanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/ReloadableComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/DistributorComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/UserComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/FootprintComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/ManufacturerComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/UnitComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/PartUnitComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/StorageLocationComboBox.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/ResistorCalculator.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/ContextMenu/CharPickerMenu.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Editor/Editor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Distributor/DistributorEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/Editor/PartEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Manufacturer/ManufacturerEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/PartMeasurementUnit/PartMeasurementUnitEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Unit/UnitEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/UserEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/SystemNotice/SystemNoticeEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectEditor.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Editor/EditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Distributor/DistributorEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Manufacturer/ManufacturerEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/PartMeasurementUnit/PartMeasurementUnitEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Unit/UnitEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintNavigation.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintGrid.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/User/UserEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/SystemNotice/SystemNoticeEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectEditorComponent.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationMultiAddWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationMultiAddDialog.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationNavigation.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Project/ProjectReport.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Statistics/StatisticsChart.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Statistics/StatisticsChartPanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Statistics/SummaryStatisticsPanel.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Data/store/SystemNoticeStore.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/TipOfTheDay/TipOfTheDayWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/CategoryTree.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/CategoryEditor/CategoryEditorTree.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/StorageLocation/StorageLocationTree.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Part/PartCategoryTree.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Footprint/FootprintTree.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/CategoryEditor/CategoryEditorWindow.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/CategoryEditor/CategoryEditorForm.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Picker/CharPicker.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Components/Widgets/StorageLocationPicker.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Models/Message.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux.Wizard.Card.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux.Wizard.Header.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux.Wizard.js'
    '@PartKeeprFrontendBundle/Resources/public/js/Ext.ux.Wizard.CardLayout.js'
    '@PartKeeprFrontendBundle/Resources/public/js/php.default.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
<div id="loading"><span class="logo"></span></div>
<script type="text/javascript">
    window.parameters = {{ parameters|json_encode|raw }};
</script>
</body>
</html>
